<div class="container">
  <div class="row">

    <div class="post-menu input-field col s12 m5 l4 offset-l1">
      <select ng-model="postsCtrl.selectedTopic" material-select watch>
        <option value="All">All</option>
        <option ng-repeat="topic in postsCtrl.topics" ng-value="topic.id">{{ topic.name }}</option>
      </select>
      <label>Topic</label>
    </div>
    <div class="post-menu input-field col s12 m5 l4 offset-l2">
      <select ng-model="postsCtrl.sortBy" material-select watch>
        <option value="-rating">Rating</option>
        <option value="title">Name</option>
        <option value="-createdAt">Date</option>
      </select>
      <label>Sort By</label>
    </div>

    <div ng-repeat="post in postsCtrl.posts | orderBy : postsCtrl.sortBy" class="col s12" ng-show="postsCtrl.isSelected(post.topicId)">
      <div class="grey lighten-4 card horizontal">
        <div class="card-image">
          <img ng-src="{{post.imageUrl}}">
        </div>
        <div class="card-stacked">
          <div class="card-content">
            <h5>{{  post.title }}</h5>
            <p>{{ post.description }}</p>
          </div>
          <div class="card-action">
            <div class="row">
              <a href="" ng-click="postsCtrl.upVote(post)" class="col s1"><i class="material-icons">thumb_up</i></a>
              <div class="rating col s1">
                {{ post.rating }}
              </div>
              <a href="" ng-click="postsCtrl.downVote(post)" class="col s1">
                <i class="material-icons">thumb_down</i>
              </a>
              <p> </p>
              <div class="date col s10">Submitted by {{ post.username }} <br> {{ post.createdAt | date:'MM/dd/yyyy @ h:mma'  }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <bi-post-modal></bi-post-modal>
</div>
