<div id="post-modal" class="modal">
  <div class="modal-content" ng-controller="authCtrl as authCtrl">
    <div class="row">

      <form id="new-post" name="postForm" class="col s12" ng-submit="submitPost()" novalidate>
        <div class="row">
          <div class="input-field col s12 l4">
            <select ng-model="postTopic" material-select watch ng-change="formatField()">
              <option value="Create New">Create New</option>
              <option ng-repeat="topic in topics"  ng-value="topic.id">{{ topic.name }}
              </option>
            </select>
            <label>Topic</label>
          </div>

          <div class="input-field col s12 l8">
            <input ng-model="newTopic" ng-disabled="postTopic !=='Create New'" id="topicName" type="text" name="topicName" ng-required="postTopic === 'Create New'" ng-minlength="3" ng-class="{'valid': postForm.topicName.$valid, 'invalid': postForm.topicName.$invalid && postForm.topicName.$dirty}">
            <label for="topicName">New Topic</label>
          </div>
        </div>

        <div class="row">
          <div class="input-field col s12 l6">
            <input ng-model="newPost.title" id="post-title" type="text" name="title" ng-class="{'valid': postForm.title.$valid, 'invalid': postForm.title.$invalid && postForm.title.$dirty}" ng-minlength="3" required>
            <label for="post-title">Title</label>
          </div>
          <div class="input-field col s12 l6">
            <input ng-model="newPost.imageUrl" id="post-url" type="url" name="imageUrl" ng-class="{'valid': postForm.imageUrl.$valid, 'invalid': postForm.imageUrl.$invalid && postForm.imageUrl.$dirty}" required>
            <label for="post-url">Image URL</label>
          </div>
          <div class="input-field col s12">
            <input ng-model="newPost.description" id="post-description" type="text" name="description" ng-class="{'valid': postForm.description.$valid, 'invalid': postForm.description.$invalid && postForm.description.$dirty}" ng-minlength="3" ng-maxlength="60" required>
            <label for="post-description">Description</label>
          </div>

          <button class="btn waves-effect waves-light" form="new-post" type="submit" >Submit
          <i class="material-icons right">send</i>
          </button>

        </div>
      </form>
    </div>
  </div>
</div>
