<h3>Register</h3>

<div class="container">
  <form id="register" name="register" method="post" ng-submit="usersCtrl.addUser(usersCtrl.user)">
    <input type="text" name="name" ng-model="usersCtrl.user.username" placeholder="Username">

    <input type="password" name="name" ng-model="usersCtrl.user.password" placeholder="Password">

    <input type="text" name="name" ng-model="usersCtrl.user.firstName" placeholder="First Name">

    <input type="text" name="name" ng-model="usersCtrl.user.lastName" placeholder="Last Name">

    <button class="btn waves-effect waves-light" form="register" type="submit" name="action">Submit
    <i class="material-icons right">send</i>
    </button>
  </form>
</div>
