i {
  padding-right: 5px;
}

.dropdown-content li>span:hover {
  background-color: #bdbdbd;
}

h5 {
  font-size: 1.5rem;
}

.post-menu {
  margin-top: 5%;
}

.rating {
  font-size: 1.5rem;
}

.date {
  font-size: .9rem;
  margin-left: .1rem;
}

#new-post label.active {
  color: #811313;
}

#new-post button {
  margin: 0 auto;
  display: block;
}

/*nav .brand-logo {
  color: #800313;
}*/
